## Data Exploration - Salaries by college major

In [1]:
import pandas as pd
df = pd.read_csv("salaries_by_college_major.csv")
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

## Preliminary Data Exploration and Data Cleaning 

Now that we've got our data loaded into our dataframe, we need to take a closer look at it to help us understand what it is we are working with.

In [2]:
df.shape

(51, 6)

In [3]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

Our dataframe has 51 rows and 6 columns, all of the columns are listed above.

Lets check if our dataframe has any N/As or not. if yes, we are goign to drop the N/As out

In [4]:
df.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

The last row appears to have some N/A values, let's inspect it.

In [5]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

We have a row that contains some information regarding the source of the data with blank values for all the other other columns.

In [6]:
clean_df = df.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

## Find College Major with Highest Starting Salaries

In [7]:
max_starting_salary = clean_df["Starting Median Salary"].max()
print(max_starting_salary)

74300.0

In [8]:
clean_df[clean_df["Starting Median Salary"] == max_starting_salary]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM

We found the Major with the highest starting salary of $74300 is Physician Assistant.

## Find College Major with Highest Mid-Career Salaries

In [9]:
max_mid_salary = clean_df["Mid-Career Median Salary"].max()
print(max_mid_salary)

107000.0

In [10]:
clean_df[clean_df["Mid-Career Median Salary"] == max_mid_salary]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

Chemical engineering major has the highest mid-career salary with the median of $107000.

## Find College Major with Lowest Starting Salaries

In [11]:
min_starting_salary = clean_df["Starting Median Salary"].min()
print(min_starting_salary)

34000.0

In [12]:
clean_df[clean_df["Starting Median Salary"] == min_starting_salary]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

Spanish major has the lowest starting salary with the median of $34000.

In [13]:
min_mid_salary = clean_df["Mid-Career Median Salary"].min()
print(min_mid_salary)

52000.0

In [14]:
clean_df[clean_df["Mid-Career Median Salary"] == min_mid_salary]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS

We have 2 majors with the lowest salary during their mid careers that are Education and Religion.

## Majors with the Most Potential vs Lowest Risk

A low-risk major is a degree where there is a small difference between the lowest and highest salaries. In other words, if the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.

Using that definition, we can easily find majors with th most potential as well as lowest risk.

In [15]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [16]:
clean_df

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,96200.0,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,98100.0,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,108200.0,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,102700.0,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,84600.0,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,105500.0,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,95900.0,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,98000.0,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,114700.0,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,74800.0,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,116300.0,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
18,Education,72700.0,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,98700.0,60900.0,103000.0,69300.0,168000.0,STEM
20,English,99600.0,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,102100.0,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,70000.0,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,92000.0,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,111000.0,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,76000.0,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,66400.0,38800.0,60600.0,34600.0,101000.0,Business
28,History,112000.0,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,88500.0,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,115900.0,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),84500.0,49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,71300.0,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,118800.0,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,106600.0,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),100700.0,49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,132900.0,40800.0,79600.0,42100.0,175000.0,Business
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,99300.0,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,107300.0,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,50700.0,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,65300.0,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,132500.0,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,57600.0,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,126800.0,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,95400.0,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,66700.0,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,87300.0,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,65400.0,34000.0,53100.0,31000.0,96400.0,HASS

### Majors with lowest risk

In [17]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [21]:
most_potential = clean_df.sort_values('Spread', ascending=False)
most_potential[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

## Grouping data

which category of degrees has the highest average salary? Is it STEM, Business or HASS (Humanities, Arts, and Social Science)?

In [24]:
clean_df.groupby("Group").count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [28]:
pd.options.display.float_format = '{:,.2f}'.format 
clean_df.groupby("Group").mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"

We can see taht Business Majors have the highest potential while HASS group is low risk. STEM group has the best starting salary as well as mid-career salary. If you can, just tell your kids to follow STEM major.